/*Css*/
p, ul, li, h1, body{
	padding: 0px;
	margin: 0px;
    font-family: Arial;

}

/*Link do menu*/

a{
    text-decoration: none;
    text-decoration-line: none;
    color: black;

}


/*Cabeçalho*/

header{
    width: 100%;
    height: 120px;
    background-color: #02AEEE;
    position: fixed;
    z-index: 999;
}

.logo{
    width: 120px;
    height: 120px;
    background: url(../img/logo.jpg);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    margin-left: 100px;
    float: left;

}

.menu{
    width: 1900px;
    height: 120px;

}

nav{
    width: 800px;
    height: 50px;
    float: left;
    font-family: Tahoma;
    margin-top: 60px;
}

.submenu{
    width: 110px;
    height: 30px;
    float: left;
    text-align: center;

}

.submenu:hover{
    background-color: #bdd4ed;
    transition: 1s;
    cursor: pointer

}

.login{
    width: 700px;
    height:80px;
    float: right;
    margin-top: 30px;
}

.form{
    width: 220px;
    height: 80px;
    float: left;


}

.input{
    width: 200px;
    height: 30px;


}

.btn{
    width: 50px;
    height: 50px;
    margin-top: 10px;


}

.cabecalho{
    width: 100%;
    height: 120px;
    background-color: white;
}


/*Slider*/

#imagens{
 margin:0 auto;
 width:100%;
 height:500px;
}

#imagens ul{
    margin:0;
    padding:0;
    list-style:none;
    width: 100%;
    height: 400px;
}

.slide_img{
    width: 1650px;
    height: 480px;
    margin-top: 21px;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;


}


/*Caixa de conteudo*/

#principal{
    width: 1650px;
    min-height: 700px;
    overflow: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 10px 10px 50px gray;
}

/*Menu Lateral*/

.menu_lateral{
    width: 210px;
    height: 1120px;
    float: left;


}

.linha{
    width: 170px;
    height: 1px;
    background-color: white;
    border:0.2px solid gray;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.sub_lateral{
    width:200px;
    height: 30px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 999;


}



.sub_conteudo{
    width:200px;
	min-height: 200px;
    height: auto;
	background-color: white;
	margin-left: 200px;
	margin-top: -25px;
	opacity: 0;
/*Resolve o problema do elemento aparecer na tela mesmo com o mouse fora do menu*/
    overflow: hidden;
    visibility: hidden;
	transition: 1s;
    position: absolute;

}

.sub_itens{
    width: 200px;
	height: 30px;
	padding-top: 15px;
	margin-bottom: 5px;
    background-color:#02AEEE ;

}

.sub_lateral:hover > .sub_conteudo{
	/*display: block;*/
	opacity: 1;
	/*Se usar o "hidden" lรก em cims, usa o visible para garantir que o elemnto vai aparecer quando passar o mouse no menu*/
	overflow: visible;
	transition: 1s;
    visibility: visible;
}

/*Conteudo - Livros, Revistas e destaques*/


.pesquisa{
    width: 100%;
    height: 60px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;


}

#txtBusca{
  width:80%;
  height:60px;
  float:left;
  background-color:transparent;
  font-size:18px;
  border: solid 1px black;
  border-radius:0 7px 7px 0;

}

#btnBusca{
  border:none;
  float:left;
  height:64px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background: #02AEEE;
  cursor: pointer;
}

.conteudo{
    width: 1430px;
    height: 1120px;
    background-color: white;
    margin-left: auto;
}

.livros{
    width: 200px;
    height: 300px;

}

.sessao{
    width: 1445px;
    min-height: 100px;
    height: auto;
    background-color: white;
    float: left;
    margin-left: auto;
    margin-right: auto;

}


.produtos{
    width: 360px;
    height: 500px;
    background-color: white;
    float: left;
    margin-left: 80px;
    margin-top: 50px;
    box-shadow: 10px 10px 40px gray;

}

.produtos:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);

}

.foto, .foto img{
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titulo_livro{
    width: 360px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

.titulo_detalhes{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.texto{
    white-space: nowrap;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-left: 10px;

}

.preco{
    width: 360px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    color: #02AEEE;
    font-size: 25px

}

.container{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999; /*para ficar acima de qualquer elemento*/
    display: none;
}

.modal{
    width: 900px;
     height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
}


/*Rodapé do site*/

footer{
    width: 100%;
    height: 50px;
    background-color:#02AEEE;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 50px
}



/*Css das redes socias*/

.redes{
    width: 100px;
    height: 300px;
    background-color: white;
    margin-left: auto;
    margin-right: 26px;
    margin-top: 200px;
}

.social{
    width: 100px;
    height: 100px;

}

.rede_social{
    width:100px;
    height:100px;
}


/*Fale conosco*/


.caixa_form{
    width: 800px;
    min-height: 500px;
    height: auto;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    box-shadow: 10px 10px 50px gray;

}

.title_form{
    width: 700px;
    height: 100px;
    background-color: white;
    float: left;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;


}

.texto_title{
    width: 600px;
    height: 70px;
    background-color: white;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    margin-left: 15px;
}

.texto_info{
    width: 300px;
    height: 40px;
    background-color: white;
    margin-left: auto;
    font-size: 15px;

}

.fomulario{
    width: 500px;
    min-height: 500px;
    height: auto;
    background-color: white;
    font-family: Arial;
    float: left;
    margin-top: 20px;


}

.informacoes_campo{
    width: 800px;
    height: 500px;
    background-color: white;

}

.caixa_central{
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}

.inseridos{
    width: 350px;
    height: 90px;
    background-color: white;
    float:left;
    margin-left: auto;
}

.inseridos input {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 250px;
    height: 30px;

}

.inseridos input[type="submit"]{
    width: 150px;
    height: 50px;
    background-color: #02AEEE;
    margin-top: 10px;
    margin-left: 15px;
}

.inseridos select{
    width: 150px;
    height: 50px;
    background-color: white;
}

.inseridos label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

/*Pagina de destaques*/

.noticias_semana{
    width: 1232px;
    min-height: 100px;
    height: 100%;
    margin-left: 30px;
    background-color: white;

}


.informativo{
    width: 1000px;
    height: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;

}


.noticias{
    width: 1060px;
    height: 310px;
    margin-top: 15px;
    font-family: Arial;
    font-size: 25px;
    color: skyblue;
    text-align: left;
}

.img_noticia{
    width: 550px;
    height: 310px;
    background-color: white;
    margin-left: 10px;
    float: left;
}

.info_noticias{
    width: 490px;
    height: 280px;
    background-color: white;
    margin: 5px;
    margin-left: auto;

}

.data{
    width: 200px;
    height: 30px;
    background-color: white;
    font-family: Arial;
    color: black;
    font-size: 15px;

}

.titulo_noticia{
    width: 450px;
    height: 100px;
    background-color: white;

}

.resumo_noticia{
    width: 450px;
    min-height: 90px;
    height: auto;
    background-color: white;
    margin-top: 5px;
    font-family: Arial;
    font-size: 18px;
    color: black;

}

/*Nossas lojas*/

.procura{
    width: 1176px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    background-color:white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;


}

.caixa_franq{
    width:100%;
    min-height:420px;
    height: auto;
    background-color:white;
    float: left;

}

.titulo_franq{
    width: 100%;
    height: 80px;
    background-color: #02AEEE;
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}

.form_franq{
    width: 400px;
    height: 100px;
    margin-top: 5px;

}

.lojas{
    width: 570px;
    min-height: 300px;
    height: auto;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-left: 10px;
    float: left;
    margin-top: 20px;

}

.foto_banca{
    width: 290px;
    height: 250px;
    border: solid 1px black;
    margin-top: 25px;
    float: left;
    margin-left: 15px;
}

.foto_banca img{
     width: 290px;
    height: 250px;
}

.informacoes_banca{
    width: 250px;
    min-height: 250px;
    height: auto;
    margin-left: auto;
    margin-right: 0px;
    padding-top: 30px;

}

.espaco_informacoes{
    width: 100%;
    height: 50px;
    background-color: white;

}


/*Sobre a banca*/

.sobre-banca{
    width: 1150px;
    min-height: 1070px;
    height: auto;
    overflow: hidden;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}

.titulo_prinicipal{
    width: 1000px;
    height: 80px;
    background-color: white;
    color: #02AEEE;
    font-family: Arial;
    font-size: 30px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;



}

.caixa-sobre{
    width:1040px;
    height: 900px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.fotos-banca{
    width: 474px;
    height: 443px;
    background-color: white;
    float: left;
}


.historia{
    width: 400px;
    height: 350px;
    background-color: white;
    margin-left: 20px;
    float: left;
    font-family: Arial;
    font-size: 18px;

}
.foto_principal{
    width: 588px;
    height: 350px;
    background-color: white;
    background-size: 588px 350px;
    margin-left: auto;

}

.foto_principal img{
    width: 588px;
    height: 350px;

}

.divisa{
    width: 1040px;
    height: 1px;
    background-color: white;
    border:1px dashed  #02AEEE;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.valores{
    width: 1040px;
    height: 630px;
    background-color: white;
    font-family: Arial;
    font-size: 18px;

}

.titulo{
    font-family: Arial;
    font-size: 30px;
    color:#02AEEE;

}

.titulo2{
    font-family: Arial;
    font-size: 20px;
    color:black;
    margin-top: 20px;

}

.caixa{
    width: 480px;
    height: 167px;
    background-color: white;
    float: left;
    margin: 20px;
}

.caixa2{
    width: 1000px;
    height: 320px;
    background-color: white;
    float: left;
    margin-top: -20px;
}

/*Promoçoes*/

.produtos_promocao{
    width: 1040px;
    height: 300px;
    background-color: white;
    border: solid 1px black;
    margin-left: 80px;
    margin-top: 50px;

}

.sessao_promo{
    width: 1500px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}

/*Celebridades*/

.caixa_celebridade{
    width:400px;
    height: 400px;
    background-color:white;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    box-shadow: 10px 10px 50px gray;

}

.foto_celebridade{
    width: 300px;
    height: 250px;
    background-color: white;
     margin-left: auto;
    margin-right: auto;

}


.foto_celebridade img{
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.fofoca{
    width: 395px;
    height: 115px;
    background-color: white;
    text-align: center;
    font-size: 17px;
    color: black;
    padding-left: 5px;
    padding-top: 35px;
}

/*Promoçoes*/

.promo{
    width: 1600px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}

.precos{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    margin-left: 50px;
    font-size: 18px;
}
